extends ../layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
            //- h1=title 
            h2(lang="play_watch") Your StopWatch
          img(src="/images/stoopwatch2.png")(style="width:200px")

    section(class="main-content")
      h3(lang="play_time_start") เวลาเริ่มเดินเเล้ว.
      p(lang="play_manage_text") จัดการเอาให้มันอยู่มือ
