extends layout

block content
    section(class="featured")
      div(class="content-wrapper")
          hgroup(class="title")
              h1=title 
              h2(lang="guess") Guess single name the games!!
          p
            | Listen the songs carefully, predict the song name from charecter template 
            a(href="http://nodejs.org", title="node.js Website", target="_blank") http://nodejs.org/
            |. Various songs came from Youtube Video randomly OR
            span(class="highlight") you can generate quize yourself and shared to friends
            | 

    section(class="main-content")
      h3(lang="random_title") Random Songs from Youtube:
      ol(class="round")
          li(class="one")
              h5(lang="option_1") What's this song name ? guess the wording as fast as possible
              p(lang="option_desc_1") 
                | You have 40 seconds left! 
                include quize.html
          li(class="two")
              h5(lang="option_2") Stopwatch is running! timmer will be decreased every seconds
              p(compile lang="option_desc_2")
                | Now you have {{totalseconds}} seconds
          li(class="three")
              h5(lang="option_3") Typing input form to answer the question, like this
              p 
                include typed.html
                //- div(class="type-wrap frame")
                //-   div(id="typed-strings")
                //-     -for(i=0;i<5;i++)
                //-       span
                //-         b {{quizeWord}}
                //-     span(id="typed")
          li(class="four")
              h5(lang="option_4") Get Score
              p(lang="option_desc_4")
                | Once you answer correct question, you got score +120 peer answer and main stopwatch would be on hold until next question appear<br/><br/>
              button(lang="play_btn")(class="btn btn-success") Let's Play
    script(type="text/javascript").
        var t = 10;
        console.log(t);
        $(function(){
            $("#typed").typed({
                // strings: ["Typed.js is a <strong>jQuery</strong> plugin.", "It <em>types</em> out sentences.", "And then deletes them.", "Try it out!"],
                stringsElement: $('#typed-strings'),
                typeSpeed: 30,
                backDelay: 500,
                loop: false,
                contentType: 'html', // or text
                // defaults to false for infinite loop
                loopCount: false,
                //- callback: function(){ foo(); },
                //- resetCallback: function() { newTyped(); }
            });

            $(".reset").click(function(){
                $("#typed").typed('reset');
            });

        });