.hideword 
{
    font-size: 20pt;
    width: 16px;
    height: 25px;
    border-bottom: 2px solid lightgray; 
    position: relative;
    margin: 0 10px;
    line-height: 20px;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
}
.hideword-vowel
{
    font-size: 20pt;
    width: 16px;
    height: 20px;
    border-bottom: 2px solid lightgray; 
    position: relative;
    margin: 0 10px;
    line-height: 20px;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
}
.invisibleword
{
    width: 16px;
    height: 30px;
    position: relative;
    margin: 0 10px;
    line-height: 20px;
    display:inline-block;;
}
.frame
{
    width: 90%;
    padding: 20px 0 20px 9%;
    background:white;
    /*padding-left: 10%;*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}


/* code for animated blinking cursor */
        .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }